<div class="container">
    <div class="row">
        <div class="col-md-12">
            <fieldset class="ibox m-t-lg">
                <div class="ibox-title">
                    <h2>Interests</h2>
                </div>
                <div class="ibox-content">
                    <h2>Tell Us About Yourself</h2>
                    <p class="text-muted m-t-lg">
                        Complete your profile so we can connect you with the right Brand offers.
                    </p>
                    <div class="row m-t-lg">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Birthday</label>
                                <div class="input-group date">
                                    <input type="datetime" class="form-control" date-time ng-model="user.media.birthday"
                                           view="year" max-view="year" min-view="date" auto-close="true"
                                           format="YYYY-MM-DD" date-change="setUserMedia">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gender</label>
                                <div class="m-t-xs">
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="gender_male" name="gender" ng-model="user.media.gender" value="male" ng-click="setUserMedia()">
                                        <label for="gender_male"> Male </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="gender_female" name="gender" ng-model="user.media.gender" value="female" ng-click="setUserMedia()">
                                        <label for="gender_female"> Female </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <div class="row">
                        <div class="col-md-offset-8 col-md-2">
                            <div ng-click="back('onboard.step-two')" class="btn btn-default btn-block">Back</div>
                        </div>
                        <div class="col-md-2">
                            <div ng-click="finishOnBoard()" class="btn btn-primary btn-block">Finish</div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>